<?xml version="1.0" encoding="UTF-8"?> 
	<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" 
		"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="cn.hqtzytb.mapper.EnrollmentMapper">
	<!--查询测评结果对应相关信息 -->
	<select id="select" resultType="cn.hqtzytb.entity.Enrollment">
		select
		e_id as eId,e_year as eYear,
		e_province as eProvince,
		e_education as eEducation,
		universities_name as universitiesName,
		enrollment_major as enrollmentMajor,
		include_major as includeMajor,
		preferred_subject as preferredSubject,
		reelection_subjects as reelectionSubjects
		from enrollment_requirements
		<if test="where != null">where ${where}</if>
		<if test="orderBy != null">order by ${orderBy}</if>
		<if test="offset != null">limit ${offset},${countPerPage}</if>
	</select>
</mapper>
	
	
	
	
	
	
	
	
	