<?xml version="1.0" encoding="UTF-8"?> 
	<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" 
		"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="cn.hqtzytb.mapper.UserMapper">
	<resultMap id="BaseResultMap" type="cn.hqtzytb.entity.User">
	    	<id column="id" property="id" />
	    	<result column="head_img" property="headImg" />
	    	<result column="username" property="username" />
	    	<result column="phone" property="phone" />
	    	<result column="pc_number" property="pcNumber" />
	    	<result column="student_id" property="studentId" />
	    	<result column="wexin_chat" property="wexinChat" />
	    	<result column="qq_chat" property="qqChat" />
	    	<result column="password" property="password" />
	    	<result column="uuid" property="uuid" />
	    	<result column="school" property="school" />
	    	<result column="school_address" property="schoolAddress" />
	    	<result column="study_provinces" property="studyProvinces" />
	    	<result column="educational_circles" property="educationalCircles" />
	    	<result column="grade" property="grade" />
	    	<result column="class_name" property="className" />
	    	<result column="rid" property="rid" />
	    	<result column="authority" property="authority" />
	    	<result column="creat_time" property="creatTime" />
	    	<result column="download_count" property="downloadCount" />
	    	<result column="expiration_time" property="expirationTime" />
	     <!-- 角色 -->
	     <result column="role_id" property="roleId" />
	     <result column="cid" property="cid" />
	     <result column="role_name" property="roleName" />
	     <result column="role_authority" property="roleAuthority" />
	     <result column="role_description" property="roleDescription" />
	     <!-- 单位 -->
	    	<result column="company_id" property="companyId" />
		<result column="company_number" property="companyNumber" />
		<result column="company_name" property="companyName" />
		<result column="company_adress" property="companyAdress" />
		<result column="creation_time" property="creationTime" />
  	</resultMap>

	<insert id="insert" parameterType="cn.hqtzytb.entity.User" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO  user
	    <trim prefix="(" suffix=")" suffixOverrides=",">
	      <if test="id != null">
	        id,
	      </if>
	      <if test="headImg != null">
	        head_img,
	      </if>
	      <if test="username != null">
	        username,
	      </if>
	      <if test="phone != null">
	        phone,
	      </if>
	      <if test="pcNumber != null">
	        pc_number,
	      </if>
	      <if test="studentId != null">
	        student_id,
	      </if>
	      <if test="wexinChat != null">
	        wexin_chat,
	      </if>
	      <if test="qqChat != null">
	        qq_chat,
	      </if>
	      <if test="password != null">
	        password,
	      </if>
	      <if test="uuid != null">
	        uuid,
	      </if>
	      <if test="school != null">
	        school,
	      </if>
	      <if test="schoolAddress != null">
	        school_address,
	      </if>
	      <if test="studyProvinces != null">
	        study_provinces,
	      </if>
	      <if test="educationalCircles != null">
	        educational_circles,
	      </if>
	      <if test="grade != null">
	        grade,
	      </if>
	      <if test="className != null">
	        class_name,
	      </if>
	      <if test="rid != null">
	        rid,
	      </if>
	      <if test="authority != null">
	        authority,
	      </if>
	      <if test="creatTime != null">
	        creat_time,
	      </if>
	      <if test="downloadCount != null">
	        download_count,
	      </if>
	      <if test="expirationTime != null">
	        expiration_time,
	      </if>	     
	    </trim>
	    <trim prefix="values (" suffix=")" suffixOverrides=",">
	      <if test="id != null">
	        #{id},
	      </if>
	      <if test="headImg != null">
	        #{headImg},
	      </if>
	      <if test="username != null">
	        #{username},
	      </if>
	      <if test="phone != null">
	        #{phone},
	      </if>
	      <if test="pcNumber != null">
	        #{pcNumber},
	      </if>
	      <if test="studentId != null">
	        #{studentId},
	      </if>
	      <if test="wexinChat != null">
	        #{wexinChat},
	      </if>
	      <if test="qqChat != null">
	        #{qqChat},
	      </if>
	      <if test="password != null">
	        #{password},
	      </if>
	      <if test="uuid != null">
	        #{uuid},
	      </if>
	      <if test="school != null">
	        #{school},
	      </if>
	      <if test="schoolAddress != null">
	        #{schoolAddress},
	      </if>
	      <if test="studyProvinces != null">
	        #{studyProvinces},
	      </if>
	      <if test="educationalCircles != null">
	        #{educationalCircles},
	      </if>
	      <if test="grade != null">
	        #{grade},
	      </if>
	      <if test="className != null">
	        #{className},
	      </if>
	      <if test="rid != null">
	        #{rid},
	      </if>
	      <if test="authority != null">
	        #{authority},
	      </if>
	      <if test="creatTime != null">
	        #{creatTime},
	      </if>
	       <if test="downloadCount != null">
	        #{downloadCount},
	      </if>
	       <if test="expirationTime != null">
	        #{expirationTime},
	      </if>	      
	    </trim>
	</insert>
	
	<!--查询用户 -->
	<select id="select" resultMap="BaseResultMap"> 
		SELECT
			id, head_img, username, phone, pc_number, student_id, wexin_chat, qq_chat, password, 
		    	uuid, school, school_address, study_provinces, educational_circles, grade, class_name, 
		    	rid, authority, creat_time, download_count, expiration_time,
		    	role_id, cid, role_name, role_authority, role_description,
			company_id, company_number, company_name, company_adress, creation_time
		FROM user
		LEFT JOIN role on role.role_id = user.rid
		LEFT JOIN company on company.company_id = role.cid
		<if test="where != null">where ${where}</if>
		<if test="orderBy != null">order by ${orderBy}</if>
		<if test="offset != null">limit ${offset},${countPerPage}</if>
	</select>
	
	<!-- 查询单个用户信息 -->
	<!-- 如果参数类型parameterType是普通数据类型，那么SQL中的#{}参数名可以任意； 如果参数是对象，那么参#{}数名称必须和对象属性名一致 -->		
	<select id="queryUser" resultMap="BaseResultMap" parameterType="java.lang.String">
		SELECT 
			id, head_img, username, phone, pc_number, student_id, wexin_chat, qq_chat, password, 
		    	uuid, school, school_address, study_provinces, educational_circles, grade, class_name, 
		    	rid, authority, creat_time, download_count, expiration_time,
		    	role_id, cid, role_name, role_authority, role_description,
			company_id, company_number, company_name, company_adress, creation_time
		FROM 
			user	
		LEFT JOIN role on role.role_id = user.rid
		LEFT JOIN company on company.company_id = role.cid	
		WHERE phone = #{account} OR pc_number = #{account}
	</select>
	 
	<select id="selectUserListByMap" resultType="cn.hqtzytb.entity.User" parameterType="java.util.Map">
		SELECT
			id, head_img, username, phone, pc_number, student_id, wexin_chat, qq_chat, password, 
		    	uuid, school, school_address, study_provinces, educational_circles, grade, class_name, 
		    	rid, authority, creat_time, download_count, expiration_time,
		    	role_id, cid, role_name, role_authority, role_description,
			company_id, company_number, company_name, company_adress, creation_time
		FROM
			user
		LEFT JOIN role on role.role_id = user.rid
		LEFT JOIN company on company.company_id = role.cid	
		<where>
			<if test="id != null">
		        AND id = #{id}
		      </if>
		      <if test="headImg != null">
		        AND head_img = #{headImg}
		      </if>
		      <if test="username != null">
		        AND username = #{username}
		      </if>
		      <if test="phone != null">
		        AND phone = #{phone}
		      </if>
		      <if test="pcNumber != null">
		        AND pc_number = #{pcNumber}
		      </if>
		      <if test="studentId != null">
		        AND student_id = #{studentId}
		      </if>
		      <if test="wexinChat != null">
		        AND wexin_chat = #{wexinChat}
		      </if>
		      <if test="qqChat != null">
		        AND qq_chat = #{qqChat}
		      </if>
		      <if test="password != null">
		        AND password = #{password}
		      </if>
		      <if test="uuid != null">
		        AND uuid = #{uuid}
		      </if>
		      <if test="school != null">
		        AND school = #{school}
		      </if>  
		      <if test="schoolAddress != null">
		        AND school_address = #{schoolAddress}
		      </if>
		      <if test="studyProvinces != null">
		        AND study_provinces = #{studyProvinces}
		      </if>
		      <if test="educationalCircles != null">
		        AND educational_circles = #{educationalCircles}
		      </if>
		      <if test="grade != null">
		        AND grade = #{grade}
		      </if>
		      <if test="className != null">
		        AND class_name = #{className}
		      </if>
		      <if test="rid != null">
		        AND rid = #{rid}
		      </if>
		      <if test="authority != null">
		        AND authority = #{authority}
		      </if>
		      <if test="creatTime != null">
		        AND creat_time = #{creatTime}
		      </if>
		       <if test="downloadCount != null">
		        AND download_count = #{downloadCount}
		      </if>
		       <if test="expirationTime != null">
		        AND expiration_time = #{expirationTime}
		      </if>		     
		</where>
	</select>


	<update id="updateById"  parameterType="cn.hqtzytb.entity.User">
		update user
	    <set>
	      <if test="headImg != null">
	        head_img = #{headImg},
	      </if>
	      <if test="username != null">
	        username = #{username},
	      </if>
	      <if test="phone != null">
	        phone = #{phone},
	      </if>
	      <if test="pcNumber != null">
	        pc_number = #{pcNumber},
	      </if>
	      <if test="studentId != null">
	        student_id = #{studentId},
	      </if>
	      <if test="wexinChat != null">
	        wexin_chat = #{wexinChat},
	      </if>
	      <if test="qqChat != null">
	        qq_chat = #{qqChat},
	      </if>
	      <if test="password != null">
	        password = #{password},
	      </if>
	      <if test="uuid != null">
	        uuid = #{uuid},
	      </if>
	      <if test="school != null">
	        school = #{school},
	      </if>
	      <if test="schoolAddress != null">
	        school_address = #{schoolAddress},
	      </if>
	      <if test="studyProvinces != null">
	        study_provinces = #{studyProvinces},
	      </if>
	      <if test="educationalCircles != null">
	        educational_circles = #{educationalCircles},
	      </if>
	      <if test="grade != null">
	        grade = #{grade},
	      </if>
	      <if test="className != null">
	        class_name = #{className},
	      </if>
	      <if test="rid != null">
	        rid = #{rid},
	      </if>
	      <if test="authority != null">
	        authority = #{authority},
	      </if>
	      <if test="creatTime != null">
	        creat_time = #{creatTime},
	      </if>
	      <if test="downloadCount != null">
	        download_count = #{downloadCount},
	      </if>
	      <if test="expirationTime != null">
	        expiration_time = #{expirationTime},
	      </if>	       
	    </set>
	    where id = #{id}
	</update>


	<select id="selectRoleById" parameterType="java.lang.Integer" resultType="cn.hqtzytb.entity.Role">
		SELECT
			role_id,
			cid,
			role_name,
			role_authority,
			role_description
		FROM
			role
		WHERE role_id = #{roleId}
	</select>
</mapper>
	
	
	
	
	
	
	
	
	