<?xml version="1.0" encoding="UTF-8"?> 
	<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" 
		"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="cn.hqtzytb.mapper.UserResultReportMapper" >
  <resultMap id="BaseResultMap" type="cn.hqtzytb.entity.UserResultReport" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="uid" property="uid" jdbcType="INTEGER" />
    <result column="specialty_id" property="specialtyId" jdbcType="VARCHAR" />
    <result column="province" property="province" jdbcType="VARCHAR" />
    <result column="start_time" property="startTime" jdbcType="TIMESTAMP" />
    <result column="end_time" property="endTime" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="result" property="result" jdbcType="VARCHAR" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    id, uid, specialty_id, province, start_time, end_time, status, result
  </sql>
  
  <delete id="deleteById" parameterType="java.lang.Integer" >
    delete from user_result_report where id = #{id}
  </delete>
  
  <insert id="insert"  parameterType="cn.hqtzytb.entity.UserResultReport" useGeneratedKeys="true" keyProperty="id">
    insert into user_result_report
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="uid != null" >
        uid,
      </if>
      <if test="specialtyId != null" >
        specialty_id,
      </if>
      <if test="province != null" >
        province,
      </if>
      <if test="startTime != null" >
        start_time,
      </if>
      <if test="endTime != null" >
        end_time,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="result != null" >
        result,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id},
      </if>
      <if test="uid != null" >
        #{uid},
      </if>
      <if test="specialtyId != null" >
        #{specialtyId},
      </if>
      <if test="province != null" >
        #{province},
      </if>
      <if test="startTime != null" >
        #{startTime},
      </if>
      <if test="endTime != null" >
        #{endTime},
      </if>
      <if test="status != null" >
        #{status},
      </if>
      <if test="result != null" >
        #{result},
      </if>
    </trim>
  </insert>
  
  <update id="update" parameterType="cn.hqtzytb.entity.UserResultReport" >
    update user_result_report
    <set >
      <if test="uid != null" >
        uid = #{uid},
      </if>
      <if test="specialtyId != null" >
        specialty_id = #{specialtyId},
      </if>
      <if test="province != null" >
        province = #{province},
      </if>
      <if test="startTime != null" >
        start_time = #{startTime},
      </if>
      <if test="1 == 1" >
        end_time = #{endTime},
      </if>
      <if test="status != null" >
        status = #{status},
      </if>
      <if test="result != null" >
        result = #{result},
      </if>
    </set>
    where id = #{id}
  </update>
  
  <select id="select" resultMap="BaseResultMap">
     select 
     <include refid="Base_Column_List" />
     from user_result_report
     <if test="where != null">where ${where}</if>
     <if test="orderBy != null">order by ${orderBy}</if>
 	<if test="offset != null">limit ${offset},${countPerPage}</if>
  </select>
</mapper>