<?xml version="1.0" encoding="UTF-8"?> 
	<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" 
		"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
	<mapper namespace="cn.hqtzytb.mapper.UserMapper">	
		<insert id="insert" parameterType="cn.hqtzytb.entity.User" useGeneratedKeys="true" keyProperty="id">
				insert into user(
					username,phone,wexin_chat,qq_chat,password,uuid,
					belong_to,school,school_address,families,fraction,			
					cee_year,vocation,head_url,power,creat_time			
				)values(
					#{username},#{phone},
					#{wexinChat},#{qqChat},					
					#{password},#{uuid},#{belongTo},					
					#{school},#{schoolAddress},
					#{families},#{fraction},					
					#{ceeYear},#{vocation},#{headUrl},					
					#{power},#{creatTime}					
				)		
		</insert>	
		<!--查询用户  -->
		<select id="select" resultType="cn.hqtzytb.entity.User">
			select  
					id,username,phone,wexin_chat as wexinChat,qq_chat as qqChat,password,uuid,
					belong_to as belongTo,school,school_address as schoolAddress,families,fraction,			
					cee_year as ceeYear,vocation,head_url as headUrl,power,creat_time as creatTime	 
			 from user 
				<if test="where != null">where ${where}</if>
		 		<if test="orderBy != null">order by  ${orderBy}</if> 
		 		<if test="offset != null">limit   ${offset},${countPerPage}</if>		
		</select>
		<!-- 查询单个用户信息 -->
	 <!-- 如果参数类型parameterType是普通数据类型，那么SQL中的#{}参数名可以任意； 如果参数是对象，那么参#{}数名称必须和对象属性名一致 -->
	<select id="queryUser" resultType="User" parameterType="String">
		SELECT * FROM user WHERE phone = #{phone}
	</select>

	<select id="selectUserListByMap" resultType="cn.hqtzytb.entity.User" parameterType="java.util.Map">
		SELECT
			*
		FROM
			user
		<where>
			<if test="id != null">
				AND id = #{id}
			</if>
			<if test="username != null">
				AND username = #{username}
			</if>
			<if test="phone != null">
				AND phone = #{phone}
			</if>
			<if test="wexinChat != null">
				AND wexin_chat = #{wexinChat}
			</if>
			<if test="qqChat != null">
				AND qq_chat = #{qqChat}
			</if>
			<if test="password != null">
				AND password = #{password}
			</if>
			<if test="uuid != null">
				AND uuid = #{uuid}
			</if>
			<if test="belongTo != null">
				AND belong_to = #{belongTo}
			</if>
			<if test="school != null">
				AND school = #{school}
			</if>
			<if test="schoolAddress != null">
				AND school_address = #{schoolAddress}
			</if>
			<if test="families != null">
				AND families = #{families}
			</if>
			<if test="fraction != null">
				AND fraction = #{fraction}
			</if>
			<if test="ceeYear != null">
				AND cee_year = #{ceeYear}
			</if>
			<if test="vocation != null">
				AND vocation = #{vocation}
			</if>
			<if test="headUrl != null">
				AND head_url = #{headUrl}
			</if>
			<if test="power != null">
				AND power = #{power}
			</if>
			<if test="creatTime != null">
				AND creat_time = #{creatTime}
			</if>
		</where>
	</select>

	<update id="updateById" parameterType="cn.hqtzytb.entity.User">
		update user
		<set>
			<if test="username != null">
				username = #{username},
			</if>
			<if test="phone != null">
				phone = #{phone},
			</if>
			<if test="wexinChat != null">
				wexin_chat = #{wexinChat},
			</if>
			<if test="qqChat != null">
				qq_chat = #{qqChat},
			</if>
			<if test="password != null">
				password = #{password},
			</if>
			<if test="uuid != null">
				uuid = #{uuid},
			</if>
			<if test="belongTo != null">
				belong_to = #{belongTo},
			</if>
			<if test="school != null">
				school = #{school},
			</if>
			<if test="schoolAddress != null">
				school_address = #{schoolAddress},
			</if>
			<if test="families != null">
				families = #{families},
			</if>
			<if test="fraction != null">
				fraction = #{fraction},
			</if>
			<if test="ceeYear != null">
				cee_year = #{ceeYear},
			</if>
			<if test="vocation != null">
				vocation = #{vocation},
			</if>
			<if test="headUrl != null">
				head_url = #{headUrl},
			</if>
			<if test="power != null">
				power = #{power},
			</if>
			<if test="creatTime != null">
				creat_time = #{creatTime},
			</if>
		</set>
		where id = #{id}
	</update>
	</mapper>
	
	
	
	
	
	
	
	
	