<?xml version="1.0" encoding="UTF-8"?> 
	<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" 
		"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
	<mapper namespace="cn.hqtzytb.mapper.UserRoleMapper">	
		<!--查询收货地址  -->
		<select id="select" resultType="cn.hqtzytb.entity.UserRole">
			select  role_id as roleId,role_name as roleName,role_description as roleDescription from user_role 
				<if test="where != null">where ${where}</if>
		 		<if test="orderBy != null">order by  ${orderBy}</if> 
		 		<if test="offset != null">limit   ${offset},${countPerPage}</if>		
		</select>		
		
		<select id="queryRoleBySystemName" parameterType="java.lang.String" resultType="cn.hqtzytb.entity.Role">
			SELECT 
				role.role_id, role.cid, role.role_name, role.role_authority,role.role_description 
			FROM 
				role	
			LEFT JOIN admin_system ON admin_system.sysnub = role.role_id
				admin_system.sysname = #{sysname};
		</select>
		
		<select id="queryAdminSystemByRoleId" parameterType="java.lang.Integer" resultType="cn.hqtzytb.entity.AdminSystem">
			SELECT 
				sid,sysname,sysnub,syscommet,ctime
			FROM 
				admin_system
			WHERE 
				admin_system.sysnub = #{roleId};
		</select>
	</mapper>
	
	
	
	
	
	
	
	
	