<?xml version="1.0" encoding="UTF-8"?> 
	<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" 	"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
	<mapper namespace="cn.hqtzytb.mapper.XgkcpResultMapper">	
		<!--查询测评结果对应相关信息  -->
		<select id="select" resultType="cn.hqtzytb.entity.XgkcpResult">
			select  
				personality_id as personalityId,
				personality_code as personalityCode,
				personality_name as personalityName,
				test_name as testName,
				personality_brief as personalityBrief,
				personality_detial as personalityDetial,
				personality_specialty as personalitySpecialty,
				personality_vocation as personalityVocation				  
			from personality 
				<if test="where != null">where ${where}</if>
		 		<if test="orderBy != null">order by  ${orderBy}</if> 
		 		<if test="offset != null">limit   ${offset},${countPerPage}</if>		
		</select>	
		
	</mapper>
	
	
	
	
	
	
	
	
	