<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context" 
	xmlns:jdbc="http://www.springframework.org/schema/jdbc"  
	xmlns:jee="http://www.springframework.org/schema/jee" 
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop" 
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:jpa="http://www.springframework.org/schema/data/jpa"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
		http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-3.2.xsd
		http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.2.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.2.xsd
		http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa-1.3.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.2.xsd"
		default-lazy-init="true">  
	 <!-- 自动扫描，
	扫描以com.yichuan开头包中的所有有注解的类注入spring（IOC）,但是不扫描controller -->
	<context:component-scan base-package="cn.hqtzytb">
	   <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
	</context:component-scan> 
		<!--
		 1.util:properties表示读取外部文件并实例化
		2.id表示名称
		3.location表示文件位置
		 -->
   <util:properties id="dbConf" location="classpath:config.properties"/>
  
   <!-- 配置数据库的连接池 -->
   <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
   <property name="driverClassName" value="#{dbConf.driverClassName}"/>
   <property name="url" value="#{dbConf.url}"/>
   <property name="username" value="#{dbConf.username}"/>
   <property name="password" value="#{dbConf.password}"/>
   </bean>  
   <!-- 配置photo的连接池 -->
   <bean id="photoConfig" class="cn.hqtzytb.entity.PhotoConfig">
   <property name="accessKeyId" value="#{dbConf.accessKeyId}"/>
   <property name="accessKeySecret" value="#{dbConf.accessKeySecret}"/>
   <property name="qm_name" value="#{dbConf.qm_name}"/>
   <property name="qm_sms" value="#{dbConf.qm_sms}"/>  
   </bean>   
   <!-- 配置WXpay的连接池 -->
   <bean id="wxpayConfig" class="cn.hqtzytb.entity.WxpayConfig">
   <property name="appid" value="#{dbConf.appid}"/>
   <property name="mch_id" value="#{dbConf.mch_id}"/>
   <property name="notify_url" value="#{dbConf.wxnotify_url}"/>
   <property name="trade_type" value="#{dbConf.trade_type}"/>
   <property name="key" value="#{dbConf.key}"/>
   <property name="wxpay_url" value="#{dbConf.wxpay_url}"/>
   </bean>
   <!-- 配置ZFBpay的连接池 -->
   <bean id="zfBpayConfig" class="cn.hqtzytb.entity.ZFBpayConfig">
   <property name="app_id" value="#{dbConf.app_id}"/>
   <property name="merchant_private_key" value="#{dbConf.merchant_private_key}"/>
   <property name="alipay_public_key" value="#{dbConf.alipay_public_key}"/>
   <property name="notify_url" value="#{dbConf.zfbnotify_url}"/>
   <property name="return_url" value="#{dbConf.zfbreturn_url}"/>
   <property name="sign_type" value="#{dbConf.sign_type}"/>
   <property name="charset" value="#{dbConf.charset}"/>
   <property name="gatewayUrl" value="#{dbConf.gatewayUrl}"/>
   <property name="log_path" value="#{dbConf.log_path}"/>
   </bean>

    <!-- 持久层接口扫描 -->
    <bean id="scannerConfigurer" class="org.mybatis.spring.mapper.MapperScannerConfigurer">
   		<property name="basePackage" value="cn.hqtzytb.mapper"></property>
    </bean>
   
   
    <!-- SqlSessionFactoryBean的初始化 -->
    <bean id="factoryBean" class="org.mybatis.spring.SqlSessionFactoryBean">
  	    <property name="dataSource" ref="dataSource"/>
        <property name="configLocation" value="classpath:mybatis.xml"></property>
        <!-- 引入mybatis主配置文件 -->
  	    <property name="mapperLocations"  value="classpath:mappers/*.xml"/>
    </bean>


    <!--事务注解  -->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
  	    <property name="dataSource" ref="dataSource"/>
    </bean>

    <!--开启service事物注解-->
    <tx:advice id="txAdvice" transaction-manager="transactionManager">
        <tx:attributes>
            <tx:method name="add*" isolation="REPEATABLE_READ" rollback-for="Exception" />
            <tx:method name="update*" isolation="REPEATABLE_READ" rollback-for="Exception" />
            <tx:method name="delete*" isolation="REPEATABLE_READ" rollback-for="Exception" />
            <tx:method name="get*" isolation="REPEATABLE_READ" read-only="true" />
            <tx:method name="*" isolation="REPEATABLE_READ" propagation="NOT_SUPPORTED"/>
        </tx:attributes>
    </tx:advice>
    <aop:config>
        <aop:pointcut expression="execution(* cn.hqtzytb.service..*(..))" id="point"/>
        <aop:advisor advice-ref="txAdvice" pointcut-ref="point"/>
    </aop:config>

    <!--开启事物注解支持-->
    <tx:annotation-driven transaction-manager="transactionManager"/>

    <bean id="myShiroRealm" class="cn.hqtzytb.intercepter.MyShiroRealm" >
        <!-- 凭证匹配器(密码加密) -->
        <property name="credentialsMatcher">
            <bean class="org.apache.shiro.authc.credential.HashedCredentialsMatcher">
                <property name="hashAlgorithmName" value="MD5"/>
                <property name="hashIterations" value="1024"/>
            </bean>
        </property>
    </bean>
    <bean id="cacheManager" class="org.apache.shiro.cache.MemoryConstrainedCacheManager"/>
    <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <property name="realm" ref="myShiroRealm" />
        <property name="cacheManager" ref="cacheManager"/>
    </bean>
    <bean class="org.apache.shiro.spring.security.interceptor.AuthorizationAttributeSourceAdvisor">
        <property name="securityManager" ref="securityManager" />
    </bean>
<!--    <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">-->
    <bean id="shiroFilter" class="cn.hqtzytb.intercepter.MyShiroFilterFactory">
        <property name="securityManager" ref="securityManager"/>
        <property name="loginUrl" value="/login" />
        <property name="successUrl" value="/index" />
        <property name="unauthorizedUrl" value="/error" />
    </bean>
</beans>
































