<?xml version="1.0" encoding="UTF-8"?> 
	<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" 
		"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
	<mapper namespace="cn.hqtzytb.mapper.AdminRoleMapper">
	<!-- 添加角色信息 -->
	<!-- Integer insert(AdminRole adminRole); -->
		<insert id="insert" parameterType="cn.hqtzytb.entity.AdminRole" useGeneratedKeys="true" keyProperty="roleId">
				insert into admin_role(
					role_name,comment					
				)values(
				#{roleName},#{comment}
				)		
		</insert>
		<!-- Integer update(AdminRole adminRole); -->
		<update id="update" parameterType="cn.hqtzytb.entity.AdminRole" >
				update  admin_role set
				role_name=#{roleName},comment=#{comment}
				where
					role_id=#{roleId}		
		</update>	
		<!-- Integer delete(AdminRole adminRole) -->	
		<delete id="delete" parameterType="cn.hqtzytb.entity.AdminRole">
			delete from admin_role 
			where
					role_id=#{roleId}
		</delete>
		<!--查询收货地址  -->
		<select id="select" resultType="cn.hqtzytb.entity.AdminRole">
			select  role_id as roleId,role_name as roleName,comment from admin_role 
				<if test="where != null">where ${where}</if>
		 		<if test="orderBy != null">order by  ${orderBy}</if> 
		 		<if test="offset != null">limit   ${offset},${countPerPage}</if>		
		</select>		
	</mapper>
	
	
	
	
	
	
	
	
	