<?xml version="1.0" encoding="UTF-8"?> 
	<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" 	"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
	<mapper namespace="cn.hqtzytb.mapper.XgkcpResultMapper">	
		<!--查询测评结果对应相关信息  -->
		<select id="select" resultType="cn.hqtzytb.entity.XgkcpResult">
			select  tz_id as tzId,tz_name as tzName,tz_type as tzType,tz_major as tzMajor,tz_vocation as tzVocation,tz_report as tzReport  from tz_library 
				<if test="where != null">where ${where}</if>
		 		<if test="orderBy != null">order by  ${orderBy}</if> 
		 		<if test="offset != null">limit   ${offset},${countPerPage}</if>		
		</select>	
		<!--查询测评结果类型不重复信息  -->
		<select id="selectReportUrl" resultType="cn.hqtzytb.entity.XgkcpResult">
			select  tz_name as tzName,tz_major as tzMajor,tz_vocation as tzVocation,tz_report as tzReport  from tz_library
				<if test="where != null">where ${where}</if>
		 		<if test="orderBy != null">order by  ${orderBy}</if> 
		 		<if test="offset != null">limit   ${offset},${countPerPage}</if>		
		</select>			
	</mapper>
	
	
	
	
	
	
	
	
	