.thumbnail .caption {
	padding: 0 10%;
}
.select_options{
	display: flex;
	justify-content: space-between;
}
.select_options>a{
	display: block;
	color: white;
	width: 40%;
	padding: 3em 0;
	text-decoration: none;
}
.select_l{
	background-color: #eb7b27;
}
.select_r{
	background-color: #2580eb;
}
.select_options>a>div{
	margin: 0 5%;
	padding: 4em;
	border-radius: 20px;
}
.select_options>a>div p{
	position: relative;
	line-height: 20px; 
	max-height: 80px;
}
.choose_items{
	border-top: 1px solid #e5e5e5;
}
.choose_items label{
	padding-left: .5em;
}
.choose_items ul{
	display: flex;
}
.choose_items ul li{
	margin-bottom: .6em;
	padding: 0 1em;
}