@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
html, body {
-ms-overflow-style: scrollbar;
}
*{
	margin: 0;
	padding: 0;
	font-size: 16px;
}
img{ border:0;  }
a{ text-decoration:none; color:#333;  }
a:hover{ color:#1974A1;  }
ul{
	list-style: none;
}
html{
	background-color: #f9f9f9;
}
body{
	background-color: #f9f9f9;
}
header{
	padding: 0 2em;
	border-bottom: 1px solid gainsboro;
	box-shadow: 0px 0px 3px gainsboro;
}
.padding-side{
	padding: 0 1em;
}
.padding-side2{
	padding: 0 2em;
}
.texts_hide{
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
	overflow: hidden;
}
.tindent{
	text-indent: 2em;
	text-align: left;
}
.btn-primary{
	background-color: #3b8bec;
	border: none;
	box-shadow: 0 1px 3px #999;
}
.text-primary{
	color:#3b8bec;
}
a{
	text-decoration: none;
} 
input{
	border: 1px #999 solid;
	padding: 2px 6px;
}
.head-top{
	background-color: #f9f9f9;
}
.user{
	display: flex;
	justify-content: flex-end;
	margin-right: 3em;
}
.user>img{
	max-width: 36px;
}
.user a{
	line-height: 2em;
}
.head-bottom{
	background-color: #f9f9f9;
	position: relative;
	padding: 20px 0;
}
nav a{
	padding: 6px 8px;
	font-size:20px;
	display:inline-block;
	text-align:center;
	width:120px;
}
nav a:hover{
	padding: 6px 20px;
	background-color: #999;
	color: white;
	border-radius: 1em;
	text-decoration: none;
}
.active{
	padding: 6px 20px;
	background-color: #3b8bec;
	color: white;
	border-radius: 1em;
	text-decoration: none;
}
.search{
	display: flex;
	justify-content: flex-end;
}
.search input{
	width: 24em;
	padding: 8px 0;
	font-size:14px;
	margin-right: 6px;
	border-radius: 5px;
	border: none;
	background-color: #d0d4d5;
	color: #333333;
	padding-left: 36px;
}
.search>.input_box{
	position: relative;
	margin-right:1em;
}
.search_mark>img{
	width: 22px;
	position: absolute;
	left: 6px;
	bottom: 7px;
}
.search_img{
	display: flex;
	justify-content: center;
	align-items: center;
}
.search_img img{
	max-width: 34px;
}

.video_box{
	display: flex;
	justify-content: center;
	align-items: center;
}
.video_box>div{
	width: 40rem;
}
video{
	width: 100%;
}
.font_mark{
	padding-top: 2em;
}
.font_mark div{
	width: 50%;	
}
.font_mark div>span{
	margin-right: 2em;
}
.thumbnail .caption{
	overflow: hidden;
}
.section-content{
	/* padding: 6em 0; */
	padding-left: 60px;
	/* width: 420px; */
}
section{
	margin-bottom: 2em;
}
section>h1{
	padding-top: 20px;
	padding-bottom: 10px;
}
ul{
	overflow: hidden;
}
/* 双重滚动 */
#banner {
	margin-bottom:-10px;
	background-color: white;
	padding-bottom: 20px;
}
#carousel {
	position:relative;
	z-index:2;
	margin-top:20px;
	transform-style:preserve-3d;
	perspective:800px
}
#carousel img {
	position:absolute;
	left:50%;
	top:50%;
	margin-left:-252px;
	transition:transform .5s ease-in-out;
	box-shadow:8px 8px 20px rgba(0,0,0,.2);
	cursor:pointer
}
#carousel {
	height:400px;
	overflow: hidden;
}
#carousel .img{
	overflow: hidden;
}
#carousel img {
	width:500px;
	border-radius: 10px;
	opacity: 0;
}

#bannerNav {
	position:relative;
	text-align:center
}
#bannerNav ul li {
	cursor:pointer;
	overflow:hidden;
	display:inline-block;
	width:22px;
	margin:0 2px
}
#bannerNav ul li a {
	margin:0 auto;
	display:block;
	width:6px;
	height:6px;
	vertical-align:top;
	border-radius:3px;
	background:#5e6671;
	font-size:0
}
#bannerNav ul li.on a,#bannerNav ul li:hover a {
	background:#00aeff
}
#bannerNav ul li.on a {
	width:20px
}


.business_content{
	position: absolute;
	top: 0;
	left: 44%;
}

/* end双重滚动 */

.prepare{
	border-right: 2px #1974A1 solid;
}
.service-center{
	padding: 20px 0;
	overflow: hidden;
	background-color: white;
}
.service-center>div{width: 50%;padding: 0 60px;}
.service-center>div>ul>li{white-space: nowrap; overflow: hidden;text-overflow: ellipsis;}
/* .service-center h3{border-bottom: 2px #1974A1 solid;} */
section{
	/* padding: 0 200px; */
	/*overflow: hidden;*/
}
footer{
	margin-top: 20px;
	padding: 20px 0;
	background-color: #3b8bec;
	color: white;
}
footer a{
	color: white;
	font-size: 14px;
	font-weight:600;
}
footer a:hover{
	color: yellow;
	text-decoration: none;
	
}
.list img{
	width: 120px;
	/* text-align: center; */
	/* width: 20%; */
}
.list ul{
	margin: 0;
}
.company-info{position: relative;margin-top: 10px;}
.company-info p{margin: 0;font-size: 14px;}
/* .copyright{position: absolute;bottom: 0;right: 0;} */

.side-right{
	width: 60px;
	position: fixed;
	right: 1px;
	top: 30%;
	z-index: 999999999;
}
.side-right img{
	width: 100%;
}
.mark-box{
	display:block;
	margin: 3px 0;
	background-color: white;
	padding: 7px 2px;
	border-radius: 6px;
	box-shadow: -1px 1px 3px #8C8C8C;
}
.btn-mark img{
	max-width: 20px;
}
.mark-box.backtop{
	background-color:  #00AEFF;
}
.mark-box.backtop a{
	color: white;
}
.mark-box a{
	font-size: 12px;
	text-decoration: none;
	cursor: pointer;
	line-height: 0;
}

main{
	padding-top: 20px;
}
.test_instruction{
	max-width: 70%;
	margin: 0 auto;
	/*padding-bottom: 10em;*/
}
.test_instruction section{
	display: flex;
	justify-content: space-between;
}
.test_instruction .caption{
	padding: 0 1em;
}
.test_instruction>section>div{
	width: 300px;
	box-shadow: -2px 4px 5px #d2d0d0;
}
.test_instruction>section>div .btn{
	border-radius: 20px;
}
.test_instruction .progress{
	height: 6px;
}
.test_instruction .thumbnail .answer_temp{
	/*padding: 20px 100px;*/
}
.test_instruction .thumbnail{
	position: relative;
	width: 100%;
}
.side_choise{
	position: absolute;
	right: -115px;
	top: 0;
	width: 14%;
}
.side_choise .dropdown-menu{
	position: relative;
	max-width: 100px;
	min-width: 130px;
}
.side_choise .dropdown-menu > li{
	width: 20%;
	float: left;
	display: flex;
	justify-content: center;
	margin: 4px 0;
}
.side_choise .dropdown-menu > li > a:active{
	background-color: red;
}
.side_choise .dropdown-menu > li > a:hover{
	background-color: red;
}
.side_choise .dropdown-menu > li > a {
    display: inline-block;
	padding: 0;
    clear: both;
    line-height: 1.42857143;
	background-color: #867F7F;
	width: 80%;
	border-radius: 50%;
	text-align: center;
	color: white;
	white-space: normal;
	cursor: pointer;
}
.side_choise .btn-group .btn{
	min-width: 130px;
	border:none;
	box-shadow:0 0px 2px #999;
	margin-bottom: 2px;
}
.border-bt{
	height: 2px;
	width: 36%;
	background-color: white;
}
.footer_nav{
	margin-bottom: 10px;
}
.footer_nav h4{
	margin-top: 0;
	margin-bottom: 6px;
}
.margin_top1{
	margin-top: 1em;
}
.margin_top{
	margin-top: 2em;
}
.margin_bot{
	margin-bottom: 2em;
}
.margin_bot1{
	margin-bottom: 1em;
}
.user_head>span{
	font-size: 4em;
}
.converse_info{
	padding: 1em 2px;
}
h3{
	margin: 0;
}
.user_right{
	padding-left: 1em;
}
.btns{
	position: relative;
}
.btns a{
	position: absolute;
	right: 3em;
	top: 1.2em;
}
.btns>div{
	width: 50%;
}
.btns>div>div{
	padding: 0 1em;
}
.btns h3{
	margin: 0;
}
.btn_box{
	display: flex;
	justify-content: center;
}
.fontwei{
	font-weight: bolder;
}
.converse{
	position: relative;
}
.converse .hd{
	position: absolute;
	z-index: 99999;
}
.converse .hd a{
	opacity: .3;
	padding: 16px;
    background-image: url(img/slider-arrow.png);
    background-repeat: no-repeat;

}
.converse .prev{
	background-color: gray;

    background-position: -175px 0;
    position: absolute;
    bottom: -130px;
    left: -14px;
}
.converse .next{
	background-color: gray;
	
    background-position: -60px 0;
    position: absolute;
    bottom: -134px;
    right: -1155px;
}
.converse .picList li{
	width: 37%;
}
.smallScroll ul li{
	padding: 0 15px;
	width: 400px;
}
.smallScroll ul li.on,
.smallScroll ul li.on *{
	width: 480px;
}
.smallScroll ul li a{
	display: block;
	width: 100%;
	background-color: white;
	padding:10px;
	text-decoration: none;
}
.smallScroll ul li a h3{
	margin: 12px 0;
}
.smallScroll ul li a img{
	width: 100%;
}
.smallScroll{
	position: relative;
}
.smallScroll>a{
	padding: 10px;
	position: absolute;
	z-index: 99999;
	background-color: gray;
	bottom: 100px;
}
.smallScroll .sPrev{
	left: 0;
}
.smallScroll .sNext{
	right: 0;
}
.game163{
	position: relative;
	padding: 4em 0;
	background-color: white;
}

.report>ul>li{
	padding:  1em 0;
}
th{
	text-align: center;
	padding: .5em 1em;
}
td{
	padding: .5em 1em;
}
.notice>li{
	list-style: decimal;
}
.user_say{
	display: flex;
	align-items: center;
}
/*#tmdhdiv a{
	text-decoration: none;
	display: inline-block;
	border-radius: 50%;
	width: 1.4em;
	height: 1.4em;
	background-color: red;
	text-align: center;
	line-height: 1em;
	margin: .2em;
	padding: .2em;
}*/
a.tmdha{
    width: 1.3em;
    height: 1.3em;
    line-height: 1.3em;
    background: #666;
    display: block;
    float: left;
    margin: 2px;
    color: #ffffff;
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
}
.tmdha:HOVER{
background: #9f0303;
}
#tmdhdiv{
  	width: 280px;
    height: 500px;
    border-radius: 5px;
}
#tm{
/* width: 500px; */
}
#un_complate a{
	display: inline-block;
	width: 2em;
	height: 2em;
	line-height: 2em;
	/*padding: 6px;*/
	margin: 2px 4px;
	background-color: gray;
	text-align: center;
	text-decoration: none;
	color: white;
	border-radius: 50%;	
}
#tmxs input[type="radio"]{
	margin-right: 10px;
}
#tmxs input[type="radio"]:active{
	color: red;
}
.btn{
	border-radius: 22px;
	padding:6px 28px;
	margin-left:1em;
}
.side_choise .btn{
	border-radius: 4px;
}
.modal-dialog{
	margin: 220px auto;
}
.modal-footer{
	text-align:center;
}

/*section company bussiness update style*/
.bussiness_bg{
	position: relative;
}
.bussiness_bg::before{
	position: absolute;
	z-index: 99;
	content: ' ';
	background-color: #666;
	width: 100%;
	height: 230px;
}
.bussiness{
	position: absolute;
	z-index: 88888;
	top: 74px;
	left: 0;
}
.text-white{
	color: #fff;
}
/*自定义选科对比表  */
.el_customise th{
	position: relative;
}
.el_customise th span.glyphicon{
	position: absolute;
	right: 0;
	top: 0;
	width: 1em;
	height: 1em;
	line-height: 1em;
	background-color: #666666;
	color: white;
	opacity: .6;
	box-shadow: -1px 1px 6px #666;
	cursor: pointer;
}
.el_customise th span.glyphicon:hover{
	background-color: #9F0303;
}
.el_customise th span.glyphicon:hover+div{
	border: 1px solid red;
}
label{
	font-family: KaiTi,'STKaiti';
}