@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
html, body {
-ms-overflow-style: scrollbar;
}
*{
	margin: 0;
	padding: 0;
	font-size: 16px;
}
img{ border:0;  }
a{ text-decoration:none; color:#333;  }
a:hover{ color:#1974A1; text-decoration: none; }
ul{
	list-style: none;
}
html{
	background-color: #f9f9f9;
}
body{
	background-color: #f9f9f9;
}
header{
	padding: 0 2em;
	border-bottom: 1px solid gainsboro;
	box-shadow: 0px 0px 3px gainsboro;
}
.padding-side{
	padding: 0 1em;
}
.padding-side2{
	padding: 0 2em;
}
.texts_hide{
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
	overflow: hidden;
}
.tindent{
	text-indent: 2em;
	text-align: left;
}
.btn-primary{
	background-color: #3b8bec;
	border: none;
	box-shadow: 0 1px 3px #999;
}
.text-primary{
	color:#3b8bec;
}
.bg-primary{
	background-color:#3b8bec;
}
.bg-danger{
	background-color: #d9534f;
	color: white;
}
a{
	text-decoration: none;
} 
input{
	border: 1px #999 solid;
	padding: 2px 6px;
}
.head-top{
	background-color: #f9f9f9;
}
.user{
	display: flex;
	justify-content: flex-end;
	margin-right: 3em;
}
.user>img{
	max-width: 36px;
}
.user a{
	line-height: 2em;
}
.head-bottom{
	background-color: #f9f9f9;
	position: relative;
	padding: 20px 0;
}
nav ul li a{text-decoration: none;}
nav>ul>li ul{
	display: none;
}
nav>ul>li>a{
	padding: 6px 8px;
	font-size:20px;
	display:inline-block;
	text-align:center;
	width:96px;
}
nav>ul>li>a:hover{
	padding: 6px 8px;
	background-color: #999;
	color: white;
	border-radius: 1em;
	text-decoration: none;
}
nav>ul::after{content: '';clear: both;}
nav>ul>li{float: left;}
nav>ul>li:hover .child{display: block;}
nav>ul>li>ul{position: absolute;z-index: 9;background-color: #fff;border-radius: 8px;box-shadow: -1px 2px 10px #ddd;}
nav>ul>li>ul>li{text-align: center;}
nav>ul>li>ul>li>a{padding: 6px 8px;width: 96px;display: block;text-decoration: none;}
nav>ul>li>ul>li>a:hover{text-decoration: none;}
.active{
	/* padding: 6px 20px; */
	background-color: #3b8bec;
	color: white;
	border-radius: 1em;
	text-decoration: none;
}
.search{
	display: flex;
	justify-content: flex-end;
}
.search input{
	width: 24em;
	padding: 8px 0;
	font-size:14px;
	margin-right: 6px;
	border-radius: 5px;
	border: none;
	background-color: #d0d4d5;
	color: #333333;
	padding-left: 36px;
}
.search>.input_box{
	position: relative;
	margin-right:1em;
}
.search_mark>img{
	width: 22px;
	position: absolute;
	left: 6px;
	bottom: 7px;
}
.search_img{
	display: flex;
	justify-content: center;
	align-items: center;
}
.search_img img{
	max-width: 34px;
}

banner .swiper-container { width: 100%; height: 100%; margin-left: auto; margin-right: auto;}
banner .swiper-slide { text-align: center; font-size: 18px; background: #fff; }
banner .swiper-slide a{ display: block; width: 100%; }
banner .swiper-slide img { width: 100%; }
banner .swiper-button-prev, .swiper-container-rtl .swiper-button-next{ background-image: url(../../img/xgk/arrows_left.png); background-color: gainsboro; opacity: .3;cursor: pointer;left: 10px;right: auto;padding: 4em 2em; }
banner .swiper-button-next, .swiper-container-rtl .swiper-button-prev{ background-image: url(../../img/xgk/arrows_righ.png); background-color: gainsboro; opacity: .3;cursor: pointer;right: 10px;left: auto;padding: 4em 2em; }

.video_box{
	display: flex;
	justify-content: center;
	align-items: center;
}
.video_box>div{
	width: 40rem;
}
video{
	width: 100%;
}
.font_mark{
	padding-top: 2em;
}
.font_mark div{
	width: 50%;	
}
.font_mark div>span{
	margin-right: 2em;
}
.thumbnail .caption{
	overflow: hidden;
}
.section-content{
	/* padding: 6em 0; */
	padding-left: 60px;
	/* width: 420px; */
}
section{
	margin-bottom: 2em;
}
section>h1{
	padding-top: 20px;
	padding-bottom: 10px;
}
ul{
	overflow: hidden;
}
/* 双重滚动 */
#banner {
	margin-bottom:-10px;
	background-color: white;
	padding-bottom: 20px;
}
#carousel {
	position:relative;
	z-index:2;
	margin-top:20px;
	transform-style:preserve-3d;
	perspective:800px
}
#carousel img {
	position:absolute;
	left:50%;
	top:50%;
	margin-left:-252px;
	transition:transform .5s ease-in-out;
	box-shadow:8px 8px 20px rgba(0,0,0,.2);
	cursor:pointer
}
#carousel {
	height:400px;
	overflow: hidden;
}
#carousel .img{
	overflow: hidden;
}
#carousel img {
	width:500px;
	border-radius: 10px;
	opacity: 0;
}

#bannerNav {
	position:relative;
	text-align:center
}
#bannerNav ul li {
	cursor:pointer;
	overflow:hidden;
	display:inline-block;
	width:22px;
	margin:0 2px
}
#bannerNav ul li a {
	margin:0 auto;
	display:block;
	width:6px;
	height:6px;
	vertical-align:top;
	border-radius:3px;
	background:#5e6671;
	font-size:0
}
#bannerNav ul li.on a,#bannerNav ul li:hover a {
	background:#00aeff
}
#bannerNav ul li.on a {
	width:20px
}


.business_content{
	position: absolute;
	top: 0;
	left: 44%;
}

/* end双重滚动 */

.prepare{
	border-right: 2px #1974A1 solid;
}
.service-center{
	padding: 20px 0;
	overflow: hidden;
	background-color: white;
}
.service-center>div{width: 50%;padding: 0 60px;}
.service-center>div>ul>li{white-space: nowrap; overflow: hidden;text-overflow: ellipsis;}
/* .service-center h3{border-bottom: 2px #1974A1 solid;} */
section{
	/* padding: 0 200px; */
	/*overflow: hidden;*/
}
footer{
	margin-top: 20px;
	padding: 20px 0;
	background-color: #3b8bec;
	color: white;
}
footer a{
	color: white;
	font-size: 14px;
	font-weight:600;
}
footer a:hover{
	color: yellow;
	text-decoration: none;
	
}
.list img{
	width: 120px;
	/* text-align: center; */
	/* width: 20%; */
}
.list ul{
	margin: 0;
}
.company-info{position: relative;margin-top: 10px;}
.company-info p{margin: 0;font-size: 14px;}
/* .copyright{position: absolute;bottom: 0;right: 0;} */

.side-right{
	width: 60px;
	position: fixed;
	right: 1px;
	top: 30%;
	z-index: 999999999;
}
.side-right img{
	width: 100%;
}
.mark-box{
	display:block;
	cursor: pointer;
	margin: 3px 0;
	background-color: white;
	padding: 7px 2px;
	border-radius: 6px;
	box-shadow: -1px 1px 3px #8C8C8C;
	position: relative;
}
.submenu{
	display: none;
	position: absolute;
	top: 0;
	left: -154px;
	width: 140px;
	background-color: #fff;
	overflow: inherit;
	border-radius: 10px;
	border: 1px solid #3b8bec;
	z-index: 100;
}
.submenu::before{
	position: absolute;
	z-index: 99;
	right: -17px;
	top: 18px;
	content: '';
	width: 0;
	height: 0;
	border: 8px solid;
	border-color: transparent transparent transparent #3b8bec;
}
.submenu_tit{
	padding: .6em;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	
}
.serve_class{
	font-weight: bold;
	color: #3b8bec;
	padding: .4em 0;
	position: relative;
}
.serve_class::after{
	content: '';
	width: 100%;
	border-bottom: 1px solid #ddd;
	position: absolute;
	bottom: .2em;
	left: 0;
}
.submenu_con{
	padding-bottom: 1em;
}
.submenu_con ul{
	margin: 0;
	overflow: hidden;
}
.submenu_con ul li:hover{
	background-color: #ddd;
}
.submenu_con ul li a{
	color: #333;
	display: block;
	line-height: normal;
}

.btn-mark img{
	max-width: 20px;
}
.mark-box.backtop{
	background-color:  #00AEFF;
}
.mark-box.backtop a{
	color: white;
}
.mark-box a{
	font-size: 12px;
	text-decoration: none;
	cursor: pointer;
	line-height: 0;
}

main{
	padding-top: 20px;
}
.test_instruction{
	max-width: 70%;
	margin: 0 auto;
	/*padding-bottom: 10em;*/
}
.test_instruction section{
	display: flex;
	justify-content: space-between;
}
.test_instruction .caption{
	padding: 0 1em;
}
.test_instruction>section>div{
	width: 300px;
	box-shadow: -2px 4px 5px #d2d0d0;
}
.test_instruction>section>div .btn{
	border-radius: 20px;
}
.test_instruction .progress{
	height: 6px;
}
.test_instruction .thumbnail .answer_temp{
	/*padding: 20px 100px;*/
}
.test_instruction .thumbnail{
	position: relative;
	width: 100%;
}
.side_choise{
	position: absolute;
	right: -115px;
	top: 0;
	width: 14%;
}
.side_choise .dropdown-menu{
	position: relative;
	max-width: 100px;
	min-width: 130px;
}
.side_choise .dropdown-menu > li{
	width: 20%;
	float: left;
	display: flex;
	justify-content: center;
	margin: 4px 0;
}
.side_choise .dropdown-menu > li > a:active{
	background-color: red;
}
.side_choise .dropdown-menu > li > a:hover{
	background-color: red;
}
.side_choise .dropdown-menu > li > a {
    display: inline-block;
	padding: 0;
    clear: both;
    line-height: 1.42857143;
	background-color: #867F7F;
	width: 80%;
	border-radius: 50%;
	text-align: center;
	color: white;
	white-space: normal;
	cursor: pointer;
}
.side_choise .btn-group .btn{
	min-width: 130px;
	border:none;
	box-shadow:0 0px 2px #999;
	margin-bottom: 2px;
}
.border-bt{
	height: 2px;
	width: 36%;
	background-color: white;
}
.footer_nav{
	margin-bottom: 10px;
}
.footer_nav h4{
	margin-top: 0;
	margin-bottom: 6px;
}
.margin_top1{
	margin-top: 1em;
}
.margin_top{
	margin-top: 2em;
}
.margin_bot{
	margin-bottom: 2em;
}
.margin_bot1{
	margin-bottom: 1em;
}
.user_head>span{
	font-size: 4em;
}
.converse_info{
	padding: 1em 2px;
}
h3{
	margin: 0;
}
.user_right{
	padding-left: 1em;
}
.btns{
	position: relative;
}
.btns a{
	position: absolute;
	right: 3em;
	top: 1.2em;
}
.btns>div{
	width: 50%;
}
.btns>div>div{
	padding: 0 1em;
}
.btns h3{
	margin: 0;
}
.btn_box{
	display: flex;
	justify-content: center;
}
.fontwei{
	font-weight: bolder;
}
.converse{
	position: relative;
}
.converse .hd{
	position: absolute;
	z-index: 99999;
}
.converse .hd a{
	opacity: .3;
	padding: 16px;
    background-image: url(img/slider-arrow.png);
    background-repeat: no-repeat;

}
.converse .prev{
	background-color: gray;

    background-position: -175px 0;
    position: absolute;
    bottom: -130px;
    left: -14px;
}
.converse .next{
	background-color: gray;
	
    background-position: -60px 0;
    position: absolute;
    bottom: -134px;
    right: -1155px;
}
.converse .picList li{
	width: 37%;
}
.smallScroll ul li{
	padding: 0 15px;
	width: 400px;
}
.smallScroll ul li.on,
.smallScroll ul li.on *{
	width: 480px;
}
.smallScroll ul li a{
	display: block;
	width: 100%;
	background-color: white;
	padding:10px;
	text-decoration: none;
}
.smallScroll ul li a h3{
	margin: 12px 0;
}
.smallScroll ul li a img{
	width: 100%;
}
.smallScroll{
	position: relative;
}
.smallScroll>a{
	padding: 10px;
	position: absolute;
	z-index: 99999;
	background-color: gray;
	bottom: 100px;
}
.smallScroll .sPrev{
	left: 0;
}
.smallScroll .sNext{
	right: 0;
}
.game163{
	position: relative;
	padding: 4em 0;
	background-color: white;
}

.report>ul>li{
	padding:  1em 0;
}
th{
	text-align: center;
	padding: .5em 1em;
}
td{
	padding: .5em 1em;
}
.notice>li{
	list-style: decimal;
}
.user_say{
	display: flex;
	align-items: center;
}
/*#tmdhdiv a{
	text-decoration: none;
	display: inline-block;
	border-radius: 50%;
	width: 1.4em;
	height: 1.4em;
	background-color: red;
	text-align: center;
	line-height: 1em;
	margin: .2em;
	padding: .2em;
}*/
a.tmdha{
    width: 1.3em;
    height: 1.3em;
    line-height: 1.3em;
    background: #666;
    display: block;
    float: left;
    margin: 2px;
    color: #ffffff;
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
}
.tmdha:HOVER{
background: #9f0303;
}
#tmdhdiv{
  	width: 280px;
    height: 500px;
    border-radius: 5px;
}
#tm{
/* width: 500px; */
}
#un_complate a{
	display: inline-block;
	width: 2em;
	height: 2em;
	line-height: 2em;
	/*padding: 6px;*/
	margin: 2px 4px;
	background-color: gray;
	text-align: center;
	text-decoration: none;
	color: white;
	border-radius: 50%;	
}
#tmxs input[type="radio"]{
	margin-right: 10px;
}
#tmxs input[type="radio"]:active{
	color: red;
}
.btn{
	border-radius: 22px;
	padding:6px 28px;
	margin-left:1em;
}
.side_choise .btn{
	border-radius: 4px;
}
.modal-dialog{
	margin: 220px auto;
}
.modal-footer{
	text-align:center;
}

/*section company bussiness update style*/
.bussiness_bg{
	position: relative;
}
.bussiness_bg::before{
	position: absolute;
	z-index: 99;
	content: ' ';
	background-color: #666;
	width: 100%;
	height: 230px;
}
.bussiness{
	position: absolute;
	z-index: 88888;
	top: 74px;
	left: 0;
}
.text-white{
	color: #fff;
}
/*自定义选科对比表  */
.el_customise th{
	position: relative;
}
.el_customise th span.glyphicon{
	position: absolute;
	right: 0;
	top: 0;
	width: 1em;
	height: 1em;
	line-height: 1em;
	background-color: #666666;
	color: white;
	opacity: .6;
	box-shadow: -1px 1px 6px #666;
	cursor: pointer;
}
.el_customise th span.glyphicon:hover{
	background-color: #9F0303;
}
.el_customise th span.glyphicon:hover+div{
	border: 1px solid red;
}
label{
	font-family: KaiTi,'STKaiti';
}


#Modal{
	display: none;
}
.bg-model{
	position: fixed;
	opacity: .6;
	background-color: #000;	
	width: 100%;
	height: 100%;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 11;
}
.Modal_box{
	position: fixed;
	z-index: 9999;
	width: 36vw;
	top:20%;
	left: 30%;
	background-color: #fff;
}
.options label{
	cursor: pointer;
}
.report th{text-align:left;}
.container{max-width:1170px}
.login_head{
	display: flex;
	justify-content: flex-end;
}
.login_head>nav>ul>li>a{
	width: initial;
	font-size: 18px;
}
banner form{
	padding: 2em;
	max-width: 36em;
	min-width: 30em;
	position: absolute;
	top: 2em;
	right: 5em;
	z-index: 9999999;
	border-radius: 2em;
}
banner form fieldset legend{
	border: 0;
}
banner form fieldset input{
	background-color: #f9f9f9;
	border: none;
	padding: 1em 0;
	padding-left: 2.4em;
}
banner form fieldset>div{
	position: relative;
}
banner form fieldset>div .glyphicon{
	position: absolute;
	top: 1.2em;
	left: .6em;
}
banner form fieldset input{
	width: 100%;
}
.thirds_login>span{
	position: relative;
}
.thirds_login>span::before{
	content: '';
	height: 1px;
	width: 100%;
	background-color: #00AEFF;
	position: absolute;
	top: 10px;
	left: -150px;
}
.thirds_login>span::after{
	content: '';
	height: 1px;
	width: 100%;
	background-color: #00AEFF;
	position: absolute;
	top: 10px;
	right: -150px;
}
.others_acc{
	display: flex;
	justify-content: space-around;
}
.others_acc img{
	max-width: 2em;
}

.bg1{
	position: relative;
	background-image: url(../../img/xgk/pic1.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	height: 750px;
	color: white;
}
.bg1>.words{
	position: absolute;
	top: 200px;
	left: 90px;
	width: 300px;
}
.sense{
	margin-bottom: 150px;
}
.check_detail{
	margin-top: 52px;
	padding-left: 58px;
}
.check_detail a{
	font-size: 22px;
}
.check_detail a:hover{color: orange;}
.bg2{
	position: relative;
	background-image: url(../../img/xgk/pic2.jpg);
	height: 500px;
	background-size: 100%;
	background-repeat: no-repeat;
}
.bg2>.words{
	position: absolute;
	top: 100px;
	left: 100px;
	width: 300px;
}

.bg3{
	position: relative;
	background-image: url(../../img/xgk/pic3.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	height: 980px;
}
.bg3>.words{
	position: absolute;
	bottom: 200px;
	right: 200px;
	width: 300px;
}
.case_searvice{
	position: absolute;
	width: 300px;
	top: 86px;
	right: 124px;
	/*background-color: #ddd;*/
}
.others{
	position: absolute;
	left: 140px;
	top: 50px;
	width: 300px;
}
.login h1{
	font-weight: bold;
	font-size: 60px;
}
.text-white{
	color: #fff;
}
.login_btn{
	width: 100%;
	background-color: #2580eb;
	border-radius: 6px;
	color: #fff;
	border: 0;
	padding: 1em;
}
.register_box {
	/*border: 1px solid #999;*/
}
.reg_process{
	border: 1px solid #3b8bec;
	background-color: #fff;
}
.reg_process ul{margin: 0;}
.reg_process ul li{
	position: relative;
	width: 33.333%;
	padding: 1em 0;
	text-align: center;
}
.reg_process ul li::before{
	content: '';
	position: absolute;
	z-index: 2;
	right: -80px;
	top: -15px;
	height: 0;
	width: 0;
	border: 44px solid;
	border-color: transparent transparent transparent #fff;
}
.reg_process ul li::after{
	content: '';
	position: absolute;
	z-index: 1;
	right: -56px;
	top: -1px;
	height: 0;
	width: 0;
	border: 28px solid;
	border-color: transparent transparent 	transparent #3b8bec;
}
.reg_process ul li:last-child::after{
	border: 0;
}
.current{
	background-color: #3b8bec;
}
.current{
	color: #fff;
}
.reg_process ul li.current::before{
	content: '';
	position: absolute;
	z-index: 2;
	right: -50px;
	top: 0;
	height: 0;
	width: 0;
	border: 28px solid;
	border-color: transparent transparent transparent #3b8bec;
}
.status{
	border: 1px solid #999;
	border-top: none;
	display: flex;
	justify-content: center;
	align-items: center;
}
.status ul{padding: 1em 1em;}
.status ul li a{
	display: block;
	text-align: center;
	width: 10em;
	padding: .6em;
	border: 1px solid #3b8bec;
	border-radius: 6px;
	box-shadow: 0px 2px 6px #999;
}
.status ul li a.active{
	color: #fff;
}
.step2 label{
	width: 6em;
}
.reg_tip{
	position: absolute; 
	right: -12em;
	bottom: 0;
	border: 1px solid gray;
	width: 300px;
	border-radius: 10px;
	padding: 1em;
}

/*重置密码*/
.reset_pwd_box{
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	/*box-shadow: 0 0 3px #999;*/
	padding: 1em;
}
.reset_pwd_box ul{
	position: relative;
	margin: 0;
}
.reset_pwd_box ul::after{
	content: '';
	position: absolute;
	z-index: 9;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 1px solid #3b8bec;
}
.reset_pwd_box ul li{
	padding: .6em 0;
	width: 50%;
	text-align: center;
	position: relative;
}
.reset_pwd_box ul li::before{
	content: '';
	width: 0;
	height: 0;
	border: 36px solid;
	border-color: transparent transparent transparent #3b8bec;
	position: absolute;
	top: -14px;
	right: -72px;
}
.reset_pwd_box ul li::after{
	content: '';
	width: 0;
	height: 0;
	border: 36px solid;
	border-color: transparent transparent transparent #fff;
	position: absolute;
	top: -14px;
	right: -62px;
	z-index: 1;
}
.reset_pwd_box ul li.current::after{
	border-color: transparent transparent transparent #3b8bec;
}
.reset_pwd_box ul li.current{
	color: #fff;
}
.reset_pwd_box form{
	border: 1px solid #999;
	border-top: 0;
	padding: 2em 1em;
}